<div>
    <div>
        <h3>Time</h3>
        <form [formGroup]="timeForm" (ngSubmit)="getTags()">
            <select id="time" formControlName="minutes" (ngModelChange)="assignMinutes($event)">
                <option 
                    *ngFor="let timeValue of timeArray"
                    [value]="timeValue"
                    (click)="assignMinutes(timeValue)"
                    >{{timeValue}}</option>
            </select>
            <button>Post News</button>
        </form>
        <div *ngFor="let tags of tagsWithCount" (click)="goToTagArticles(tags)">
            {{tags}}
        </div>
    </div>
</div>