.form_container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_row {
    display: flex;
    align-items: center;

    input {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.tags_container {
    display: flex;
    flex-wrap: wrap;

    .individual_tag {
        padding: 5px 10px;
        border: solid black 1px;
        border-radius: 5px;
        margin: 2px 5px;
    }
}

.button_container {
    margin-top: 10px;
}